#profiles{
  min-width: 98%;
}

#profiles td {
  line-height: 16px;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: normal!important;
  font-size: 13px!important;
  padding: 10px!important;
  text-align: center;
  padding: 15px 8px !important;
  vertical-align: top;
  background-color: white;
}

table.data-table {
  margin: 0px;
}

table.dataTable thead th .th-value {
  min-width: 100px;
}

.dataTables_info,
.dataTables_length > label,
.paginate_button,
.paginate_button.current {
  font-size: 13px;
  font-weight: normal;
}

.dataTables_scrollBody th {
    display: none;
}

#profiles_wrapper .dataTables_scrollHead {
  overflow-x: auto !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  margin-left: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  visibility: hidden;
}

.dataTables_length {
  margin-top: 8px;
}

.dataTables_length .select2-container{
  width: auto !important;
}

.dataTables_info {
  margin-top: 2px;
}

.dataTables_paginate {
  margin: 5px;
  margin-top: 7px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: bottom center;
  background-repeat: no-repeat;
}

table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}

table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}

.top {
  display: block;
  height: auto;
  margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_scroll {
  display: block;
  padding-top: 15px;
}

.profiles_page .layer-toggle-info-container {
  display: inline-block;
  width: 100%;
}

/* .profiles_page .toggle-info .toggle-table tr:first-child {

} */

.dataTables_info,
.dataTables_length > label,
.paginate_button,
.paginate_button.current {
  font-size: 13px;
  font-weight: normal;
}

.dataTables_scrollBody th {
  display: none;
}

.top {
  display: block;
  height: auto;
  margin-bottom: 10px;
}

.disclaimer {
  font-size: 12px;
  margin-top: 20px;
}

.disclaimer p {
  margin-bottom: 6px;
}

.page-template-page-profiles .single-post .row {
  margin-top: 0;
}

.single-profiles .post-meta {
  margin-top: 0 !important;
}

.single-profiles #post-content img{
  max-width: 100% !important;
}

.single-profiles .twelve #post-content img.size-full {
    padding: 10px;
    max-width: 855px !important;
}

.single-profiles #post-content .wp-caption img {
  padding: 0;
  margin-top: 0;
  border: 0;
}

.single-profiles .twelve #post-content .wp-caption {
    width: 865px !important;
}

.single-profiles .twelve #post-content .wp-caption img.size-full {
    max-width: 855px !important;
    padding: 0;
}

.metadata_button {
  padding: 3px 10px !important;
  border-radius: 6px;
}

#profiles_map {
  height: 400px;
}

#profiles_map .cartodb-legend {
  margin: 5px 10px;
  padding: 10px 5px;
}

#profiles_map .cartodb-legend .legend-title{
  margin-top: 0;
  margin-bottom: 3px;
}

#profiles_map .cartodb-legend ul{
  margin-left: 0;
}

#profiles_map .cartodb-legend ul li{
  list-style-type: none;
  line-height: 13px;
  display: inline-table;
  margin: 2px 0;
}

#profiles_map .cartodb-legend ul li div.bullet{
  margin-top: 3px;
}

#profiles {
  float: left;
}

#profiles td {
  line-height: 22px;
}

#tracking td:first-child {
  width: 18%;
}

#tracking td:nth-child(2) {
  width: 17%;
}
.profile-metadata {
  padding-top: 15px;
}

#profiles td .td-value ul {
  display: inline-block;
  margin-bottom: 0;
  max-height: 100px;
  height: 80px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

#profiles td .td-value ul:hover {
  overflow-y: auto;
}

#profiles td .td-value ul li {
  min-width: 200px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 0;
}

#profiles td.child li {
  padding: 0;
}

#profiles tbody {
  width: 100%;
}

.total_listed {
  font-size: 13px;
  background: #eee;
  border: 1px solid #c8c8c8;
  padding: 5px 10px !important;
  margin-bottom: 0 !important;
}

.total_listed ul{
  margin: 0 !important
}

.total_listed li{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.total_listed li{
  margin-right: 1em
}

.filter-container {
  padding-bottom: 5px !important;
  background: #fff;
  width: 100%;
  display: inline-block;
}

.filter-container .panel{
    width: 100%;
    padding: 10px 0 !important;
    float: left;
}

.filter-container p, .filter-container ul, .filter-container li {
  margin-bottom: 5px;
}

.mobile-filter-container{
  background-color: #fff;
  display: inline-flex !important;
}
#mobile-filter i.fa-filter {
  vertical-align: text-top;
  margin:0;
}
.filter-container #search_all, .mobile-filter-container #search_all{
  width: 100%;
  margin: 0 10px 0 0;
}

.fixed-filter-container {
  position: fixed;
  top: 37px;
  z-index: 99;
}
.filter-container .panel_related_profile{
  padding: 0
}
.panel_related_profile span{
  font-size: 14px;
  vertical-align: top;
}
.fixed-filter-container .panel_related_profile{
  padding: 0 auto;
  display: block;
  background: #eee;
  margin-left: 10px;
}
.filter-container .related_profiles_toggle_icon{
    display: none;
    cursor: pointer;
}
.fixed-filter-container .related_profiles_toggle_icon{
  float: right;
  position: relative;
  margin: 0 0 0 10px;
  display: block;
}
.related_profiles_toggle_icon i.fa-toggle-on{
  font-size: 25px
}
.fixed_datatable_tool_bar {
  display: none;
  float: right;
  display: block;
  margin-left: 0;
}

.fixed_datatable_tool_bar div {
  display: inline;
  font-size: 13px;
  margin: 0;
}

.fixed_datatable_tool_bar #profiles_length {
  display: block;
  padding-left: 5px;
}

.fixed_datatable_tool_bar #profiles_filter {
  margin: auto;
  display: inline-block;
  padding-right: 4%;
}

.fixed_datatable_tool_bar .dataTables_filter input {
  margin-left: 5px;
}

.related_profiles{
  max-height: 70px;
  overflow-y: auto;
}

.related_profiles > li {
  display: block;
}

#filter_by_classification{
  width: 100%;
  display: inline-block;
}

#filter_by_classification .filter_by{
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 7px;
}

#filter_by_classification .filter_by:last-child{
  margin-right: 0
}

#filter_by_classification .label {
  display: inline;
}

#filter_by_classification select {
  display: inline;
  margin: 0;
  padding: 2px 2px;
}

.twelve #filter_by_classification select {
  width: 200px;
}

.seven #filter_by_classification select {
  width: 220px;
}

.show_list_format {
  display: none;
  padding: 2px 15px;
  width: 150px;
  margin-top: 3px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 2002;
  position: absolute;
  margin-top: 2.5em;
  column-gap: 8px;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333;
}


.single-profiles iframe{
  max-width:100%;
  width: 100%;
  margin-right: 10px;
}
.ytplayer_title {
    display: inline;
    float: left;
    width: 100px;
    margin: 2px 12px; 
    color: #fff;
}
.ytplayer_title img, .ytplayer_title p{
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  color: #fff;
  text-align: center;
}
.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
  padding: 3px;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.circular  img , .single #post-content .circular img {
  border: none;
  text-align: center;
  display: block;
  margin: auto;
  float: none;
}

.dark-gray {
  background: #333;
}

.smallest-size{
  width: 50px;
  height: 50px;
  margin: auto;
}

div.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom:20px;
}

div.table-wrapper table.spreadsheet{
  margin-bottom: 0;
}

table.spreadsheet {
  width: 100%;
  border-bottom: 0;
  hyphens: none;
}

table.spreadsheet tbody tr:nth-child(2n+1){
  background-color: #fff;
}

table.spreadsheet tbody tr:nth-child(2n+2){
  background-color: #e8e8e8;
}

table.spreadsheet tr{
  border-right: 1px solid #efefef;
}

table.spreadsheet th{
  padding: 10px;
}

table.spreadsheet td{
  border: 0;
  padding: 10px;
  border-left: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  line-height: 24px;
}

table.no-bgcolor {
  hyphens: none;
}

table.no-bgcolor tr td {
  hyphens: none;
  background-color: #fff;
  padding: 5px 10px;
}

table.no-bgcolor tr th {
  border-left: 1px solid #ddd;
}

table.no-bgcolor tr td{
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table.no-bgcolor tr{
  border-right: 1px solid #ccc;
}

/* Sub navigation*/
#od-menu.od-submenu {
  position: relative;
}

.od-submenu-bg {
  position: relative;
  opacity: 0.6;
  float: left;
  height: 40px;
  width: 100%;
}

.od-submenu .container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

#od-menu.od-submenu ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

#od-menu.od-submenu li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0;
  padding: 8px 0;
}

#od-menu.od-submenu li a {
  color: #000;
  margin: 0;
  padding: 0 8px;
}

#od-menu.od-submenu li:hover {
  background: #f1f1f1;
}

#od-menu.od-submenu li.menu-item-has-children > a::after {
  content: '\f140';
  display: inline-block;
  font: inherit;
  font-family: dashicons;
  margin: 0 0 0 6px;
  vertical-align: top;
}

#od-menu.od-submenu li ul.sub-menu{
  display: none;
  background: #f1f1f1;
  position: absolute;
  text-align: left;
  margin-top: 8px;
  z-index: 999;
}

#od-menu.od-submenu li ul.sub-menu li{
  min-width: 150px;
}

#od-menu.od-submenu li:hover ul{
  display: block;
}

#od-menu.od-submenu li > ul > li:hover{
  background: #ddd;
}

.od-submenu h1{
  margin: 3px 0 0;
}

.widget_download .nc_tweetContainer{
  height: 35px !important;
}
.widget_download .button.download{
  padding: 8px 6px 0 !important;
  border-radius: 2px;
  position: absolute;
  right: 215px;
}
.widget_download a.download span{
  display: none;
}

.widget_download a.download:hover{
  right: 215px;
}
.widget_download a.download:hover span{
  display: initial;
}
.widget_download a.download i{
  margin-right: 5px;
  margin-left: 5px;
}

.full-width-content ul{
    padding: 5px 0;
}

.full-width-content.above-map{
  margin-bottom: 1em;
}

#ytplayer_list{
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
#ytplayer_list div{
  display: inline-block;
  float: none;
  text-align: center;
  margin: auto 0;
  padding: 0 5px;
}
#ytplayer_list a p { padding:0; margin:0; color:#fff;}
#ytplayer_list img {
  width: 100px !important;
  margin: 0 0 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.graph_slide_container {
    margin-top: 1em;
    position: relative;
}
.graph_slide {
    width: 100%;
    height: 285px;
}
.graph_slide .fc_graph, .graph_slide .fc_graph_per {
    position: absolute;
    top: 0;
    left: 0;
}

.graph_bg {
    width: 100%;
    height: 20px;
    background: rgb(139, 136, 137);
    border: 1px solid #333;
    border-radius: 8px;
}

.entry-content img, .comment-content img, .widget img {
    max-width: 97.5%;
}

.selected_option_ha, .selected_option_per {
    position: relative;
    top: -2px;
}

.graph_options, .graph_options_per {
    cursor: pointer;
    position: relative;
    top: -6px;
    margin-top: 0;
    margin-left: 3em;
    margin-right: 1.8em;
}

.graph_year ul {
    clear:both;
    margin: 0;
    padding: 0;
    list-style: disc;
}

.graph_year li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 1.2em;
}
.single #post-content .graph_options,
.single #post-content .graph_options_per{
  border: none;
}
.single #post-content .selected_option_ha,
.single #post-content .selected_option_per{
  border: none;
  padding: 0;
}
